body {
  background-color: #740d0d;
  color: white;
  font-family: 'Inter', sans-serif;
}

.bg-gray-900 {
  background-color: #750d0d;
}

.bg-gray-800 {
  background-color: #690e0e;
}


/* Sidebar styling */
.sidebar {
  background-color: #561a1a;  /* Black background */
  color: #fff; /* White text */
  width: 15%;  /* Responsive width */
  padding: 20px;
}

/* Main content area */
.main-content {
  background-color: #1b1b21; /* Dark gray */
  color: #ccc;  /* Light gray text */
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}

/* Now Playing section */
.now-playing {
  background-color: #1c1c1e; /* Match with the main background */
  color: white;
  padding: 20px;
}

